.einn {
    -fx-background-image: url("myndir/one.jpg");
    -fx-background-size: cover;
}
.tveir {
    -fx-background-image: url("myndir/two.jpg");
    -fx-background-size: cover;
}
.trio {
    -fx-background-image: url("myndir/three.jpg");
    -fx-background-size: cover;
}
.fjorir {
    -fx-background-image: url("myndir/four.png");
    -fx-background-size: cover;
}
.fimm {
    -fx-background-image: url("myndir/five.png");
    -fx-background-size: cover;
}
.sex {
    -fx-background-image: url("myndir/six.png");
    -fx-background-size: cover;
}
.sjo {
    -fx-background-image: url("myndir/seven.jpg");
    -fx-background-size: cover;
}
.atta {
    -fx-background-image: url("myndir/eight.jpeg");
    -fx-background-size: cover;
}
.niu {
    -fx-background-image: url("myndir/nine.jpeg");
    -fx-background-size: cover;
}



